
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* header */
header, footer {
    background-color:#783F27 ;
}
header>nav {

}

/* Version à favoriser */
header>nav>ul {
display: flex;
gap:10px;
justify-content: center;
padding: 1rem 0;
}

/* Autre solution */
/* header>nav>ul {
    text-align: center;
    padding: 1rem 0;
}
header>nav>ul>li {
display: inline;
padding:0 5px;
} */
header>nav>ul li a {
    color:#F9AB33;
    border-bottom:1px dotted #F9AB33;
}
header>nav>ul li a:hover {
    color:#608080;
    border-bottom:1px dotted #608080;
}
/* zone image de mon header */
header>div {
    background-image: url(../img/croissants_banner.jpg);
    background-position: center center;
    background-size:cover;
    padding:5rem 0;
}

header>div>* {
    text-align: center;
}

main {
    padding: 2rem;
}

main > section.products {
    padding: 2rem;
    border:1px solid red;
    border-radius: 20px;
}

main > section.products h2 {
    font-size:2rem;
}

main > section.products article {
    margin-bottom: 2rem;
}




h3 { border-top-color: red;}

main > section.products article h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    border-top:2px solid #000;
    border-left:2px solid #000;
    padding-left:20px
}

main > section.products article a {
   color:orange; 
   text-decoration: underline;
   text-transform: uppercase;
}

main > section.products article a:hover,
main > section.products article a:focus
 {
    
}

