body {
    font-size: 10px; /* font base */
}
h1 {
    font-weight: bold;
    font-size: 12em!important; /*(12x16px)*/
}

body > div {
    font-size: 2em;
}

body > div > div {
    color:green;
}

div {
    font-size: 1em;
    padding: 4rem;
    margin: 4rem;
    font-style: 15px;
}

